.cityImage img{
  width: 97vw;
}

#cityName{
  text-align: center;
  font-size: 2em;
  color: rgb(196, 206, 146);
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgba(61, 56, 56, 0.452);
  width: 60%;
  margin-top: -16%;
  margin-left: 20%;
}