.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.commentBody {
  margin: 1%;
  width: 90%;
  height: auto;
  border-style: solid;
  border-color: rgba(11, 2, 90, 0.685);
  border-radius: 6px;
  border-width: 0.5vmin;
  background-color: white;
  display: flex;
  flex-direction: row;
  background-color: rgb(238, 251, 255);
}

.userCommentInfo {
  margin-left: 1%;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCommentInfo img {
  width: 65%;
  border-radius: 50%;
  margin: 10% 3% 0% 3%;
}

.userCommentInfo p {
  font-size: 3.5vmin !important;
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: lighter;
  margin-bottom: 1%;

}

.textComment {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 1% 1% 0 3%;
  font-style: italic;
}

.commentBody p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}

.editButton{
  width: 75%;
  opacity: 0.5;
  margin-bottom: 20%;
}

.editButton:hover{
  cursor: pointer;
  opacity: 0.9;
  border-radius: 25%;
}

.buttonsComment{
  width: 5%;
}

@media (min-width: 800px) {
  .userCommentInfo img {
    width: 40%;
  }
  .commentBody p {
    font-size: medium;
  }
  .editButton{
    width: 55%;
    margin: 5% 0 20% 30%;
  }
}

#editCommentInput{
  width: 100%;
  height: 80%;
}