.commentContainer{
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-self: flex-start;
     width: 100%
}
.commentBody{
     margin: 1%;
     width: 90%;
     height: auto;
     border-style: solid;
     border-color: rgba(11, 2, 90, 0.685);
     border-radius: 10px;
     border-width: 0.5vmin;
     background-color: white;
     color: rgb(20, 1, 1);
     padding-left: 2%;
}

.commentBody p{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: small;
}