.bottonDropdown {
    background-color: transparent;
}

.dropdownToggleMenu {
    border-radius: 100% !important;
    height: 10vw;
    width: 10vw;
    background-image: url('../images/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    color: yellow !important;
    background-size: cover;
}
@media (min-width: 800px) {
    .dropdownToggleMenu{
        width: 5vw;
        height: 5vw;
    }
}