nav {
    padding: 2%;
}

#menu {
    float: right;
}

* {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1em;
}

.carouselContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#arrow-image{
    width: 15vmin;
}
#arrow-image:hover{
    background-color: rgba(255, 0, 43, 0.233);
    border-radius: 100%;
}
@media (min-width: 800px) {
    .carouselContainer {
        width: 70%;
        margin-left: 15%;
    }
    nav{
       margin: 0 10% 0 10%;
        padding-top: 1%;
        margin-bottom: 0;
        height: 0;
    }
}