@media (min-width: 800px) {
  #itinerariesBody {
    width: 80%;
  }
}

.itineariesListElement {
  list-style: none;
}

#itinerariesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#itinerariesBody {
  min-height: 87vh;
}

#navBottomContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1%;
}
#itinerariesList h5 {
  font-size: 5vmin;
  margin: 3vh 0 2vw 6vmin;
}
#navCities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
