.itineraryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.itineraryCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 1.5vw;
}
.itineraryCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.authorImage {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.authorImage img {
  border-radius: 100%;
  width: 80%;
  margin: 2%;
  border-width: 2px;
  border-style: solid;
}

.authorImage figcaption {
  text-align: center;
  font-size: 3.3vmin;
  line-height: 1em;
}
.itineraryBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.itineraryBody h3 {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 5vmin;
}
.itineraryInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.itineraryInfo h4 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 7%;
  font-size: 4vmin;
}

.itineraryBody ul {
  width: 95%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 3.5vmin;
  color: rgb(48, 47, 47);
  padding: 0;
}
.hashTagList {
  margin-right: 7%;
}
.viewAllBar {
  display: flex;
  justify-content: center;
  background-color: rgb(179, 178, 178);
  margin: 0;
}
.viewAllBar:hover {
  text-decoration: solid;
  cursor: pointer;
}
.viewAllBar span {
  color: blue;
}
@media (min-width: 800px) {
  .authorImage img {
    width: 70%;
  }
  .itineraryCardContainer {
    width: 80%;
  }
  .activitiesListCarousel {
    width: 100% !important;
  }
}

.invisible {
  visibility: hidden;
  display: none;
  margin: 0;
}
.activitiesListCarousel {
  width: 94vw;
}
.activitiesListCarousel ul {
  list-style: none;
}
.itineraryInfo img {
  width: 8%;
  margin-left: 20%;
}
.commentInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.commentInputContainer textarea {
  width: 90%;
  border-width: 2px;
  border-style: double;
}
.commentInputContainer button {
  align-self: flex-end;
  margin-right: 5%;
  margin-top: -3%;
  border-radius: 20%;
  background-color: rgb(37, 177, 219);
  border-style: groove;
  border-width: 2px;
  color: white;
}
