#signUpContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signUpBody{
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#signUpBody h2{
  font-size: 7vmin;
}
#signUpBody form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
#photo{
  width: 30vmin;
  height: 30vmin;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#photo img{
  height: 100%;
}
.labelInput{
  width: 100%;
  font-size: 4.5vmin;
  display: flex;
  align-items: center;
  margin: 1% 0 1% 0;
}
.labelInput span{
  text-align: right;
  margin-right: 2%;
  width: 24%;
}
.labelInput input{
  width: 71%; 
  border-radius: 7px;
  height: 6vh;
}
#agreeTerms{
  font-size: 3vmin;
  margin: 3%;
}
#buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
#buttonContainer input{
  background-color: rgb(183, 183, 255);
  width: 20%;
  height: 7vh;
  border-style: outset;
  border-radius: 7px;
  margin: 2%;
}
#buttonContainer input:hover{
  background-color: rgb(176, 212, 247);
}
@media (min-width: 800px) {
  #signUpBody {
      width: 60%;
  }
}
#succefullyRegisterMessage{
  margin-top: 10%;
  color: rgb(0, 0, 31);
  background-color: rgb(155, 230, 81);
  border-style: outset;
  padding: 10% 5% 10% 5%;
  border-radius: 10px;
}
#succefullyRegisterMessage h2{
  text-align: center;
  font-size: 5vmin;
}
#signUpBody h5{
  color: red;
  background-color: rgb(248, 203, 203);
  border-radius: 5px;
}