#signUpContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signUpBody{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#signUpBody h2{
  font-size: 7vmin;
}
#signUpBody form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
#signUpBody input{
  border-radius: 7px;
  margin-bottom: 5%;
  width: 100%;
  height: 5vh;
}
#signUpBody label{
  font-size: 5vmin;
  margin-bottom: 0;
}
#buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
#buttonContainer input{
  background-color: rgb(183, 183, 255);
  width: 20%;
  height: 7vh;
  border-style: outset;
  border-radius: 7px;
  margin: 2%;
}
#buttonContainer input:hover{
  background-color: rgb(176, 212, 247);
}
@media (min-width: 800px) {
  #signUpBody {
      width: 60%;
  }
}
